{% include "partials/header.html" %}
{% block body %}
<div class="loginPage">
  <div>
    <div class="loginCard my-1">
      <div class="loginText">
        <h1>New post</h1>
        <h3>Share something with others</h3>
      </div>
      <div class="loginForm">
        <form method="POST">
          <div class="form-group">
            <label>Select a book</label>
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              name="email"
            />
          </div>
          <div class="form-group">
            <label>Your thoughts...</label>
            <textarea
                class="form-control"
                aria-describedby="emailHelp"
                name="caption"
                rows=5
            ></textarea>
          </div>
          <button class="loginButton">Post</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}