{% include "partials/header.html" %}
{% block body %}
<style>
  body{
      background-color: #FAFAFA;
  }
</style>

<div class="row">
  <div class="col-lg-8">
    <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="container post-container">
                  <div class="heading-container">
                      <div>
                          <a class="a-tag-post" href="#">
                              <h3 class="post-book-name">Book Name</h3>
                          </a>
                      </div>
                      <div>
                          <a class="a-tag-post" href="#">
                          <h5 class="post-book-author">Author Name</h5>
                          </a>
                          <!-- {% for day in session_data.temp %}
                                                      {{day}}
                                                      {% if not forloop.last %} 
                                                      ,
                                                      {% endif %}
                                                  {% endfor %} -->
                      </div>
                  </div>
                  
                  <div class="post-image-container">
                      <img class="post-image" src="http://books.google.com/books/content?id=uHs7gpNKqTEC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/>
                  </div>
                  <div class="post-footer">
                      <div>
                          <div class="rateYo" style="margin: auto;padding: 3px;"></div>
                      </div>
                      <div class="add-book-container">
                          <div class="button_cont"><a class="example_f" href="#" target="_blank" rel="nofollow"><span>Add Book</a></div>
                      </div>
                  </div>
                  <script type="text/javascript">
                      $(".rateYo").rateYo({
                          rating: "4",
                          readOnly: true,
                          starWidth: "18px"
                      });
                  </script>
                  
              </div>
          </div>
          <div class="col-lg-6">
            <div class="container post-container">
                <div class="heading-container">
                    <div>
                        <a class="a-tag-post" href="#">
                            <h3 class="post-book-name">Book Name</h3>
                        </a>
                    </div>
                    <div>
                        <a class="a-tag-post" href="#">
                        <h5 class="post-book-author">Author Name</h5>
                        </a>
                        <!-- {% for day in session_data.temp %}
                                                    {{day}}
                                                    {% if not forloop.last %} 
                                                    ,
                                                    {% endif %}
                                                {% endfor %} -->
                    </div>
                </div>
                
                <div class="post-image-container">
                    <img class="post-image" src="http://books.google.com/books/content?id=uHs7gpNKqTEC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/>
                </div>
                <div class="post-footer">
                    <div>
                        <div class="rateYo" style="margin: auto;padding: 3px;"></div>
                    </div>
                    <div class="add-book-container">
                        <div class="button_cont"><a class="example_f" href="#" target="_blank" rel="nofollow"><span>Add Book</a></div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(".rateYo").rateYo({
                        rating: "4",
                        readOnly: true,
                        starWidth: "18px"
                    });
                </script>
                
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-4"> 
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="container post-container">
                  <div class="heading-container row">
                      <div class="col-lg-2">
                          <img class="image-user-r" src="http://books.google.com/books/content?id=uHs7gpNKqTEC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/>
                      </div>
                      <div class="col-lg-10">
                          <a class="a-tag-post" href="#">
                              <h3 class="user-r-name">Garvit Chittora</h3>
                          </a>
                          <div class="user-recom-footer">
                              <div class="button_cont" style="text-align: right;"><a class="example_f" href="#" target="_blank" rel="nofollow"><span>Follow User</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12">
            <div class="container post-container">
                <div class="heading-container row">
                    <div class="col-lg-2">
                        <img class="image-user-r" src="http://books.google.com/books/content?id=uHs7gpNKqTEC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/>
                    </div>
                    <div class="col-lg-10">
                        <a class="a-tag-post" href="#">
                            <h3 class="user-r-name">Garvit Chittora</h3>
                        </a>
                        <div class="user-recom-footer">
                            <div class="button_cont" style="text-align: right;"><a class="example_f" href="#" target="_blank" rel="nofollow"><span>Follow User</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}