{% include "partials/header.html" %}
{% block body %}

<div class="row mx-2">
  <div class="col-lg-9">
      <div class="row">
        {% for book in recom_book %}
            <div class="col-lg-4">
                <div class="container post-container">
                    <div class="heading-container pt-4">
                        <div>
                            <a class="a-tag-post" href="/book/{{book.bookid}}">
                                <h3 class="post-book-name">{{book.name}}</h3>
                            </a>
                        </div>
                        <div>
                            <a class="a-tag-post" href="/book/{{book.bookid}}">
                            <h5 class="post-book-author">
                            {% for author in book.authors %}
                                {{author}}
                                {% if not forloop.last %} 
                                ,
                                {% endif %}
                            {% endfor %}
                            </h5>
                            </a>
                        </div>
                    </div>
                    
                    <div class="post-image-container">
                        <img class="post-image" src="{{book.image}}"/>
                    </div>
                    <div class="post-footer">
                        <div>
                            <div class="rateYo" style="margin: auto;padding: 3px;"></div>
                        </div>
                        <div class="add-book-container">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{book.bookid}}">
                                <input type="hidden" name="title" value="{{book.name}}">
                                <input type="hidden" name="formid" value="1">
                                <div class="button_cont"><button type="submit" class="example_f" target="_blank" rel="nofollow"><span>Add Book</button></div>
                            </form>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(".rateYo").rateYo({
                            rating: "{{book.rating}}",
                            readOnly: true,
                            starWidth: "18px"
                        });
                    </script>
                    
                </div>
            </div>
            {% endfor %}    
    </div>
  </div>
  
  <div class="col-lg-3"> 
    <div class="container">
      <div class="row">
        {% for recommendedUser in recommendedUsers %}
              <div class="container post-container">
                  <div class="heading-container row">
                        <div class="col-lg-4 d-flex align-items-center justify-content-center">
                            {% if recommendedUser.image %}
                                <img class="image-user-r" src="{{recommendedUser.image.url}}"/>
                            {% else %}
                                <img class="image-user-r" src="http://books.google.com/books/content?id=uHs7gpNKqTEC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/>
                            {% endif%}
                        </div>
                      <div class="col-lg-8">
                          <div>
                            <a class="a-tag-post" href="user/{{recommendedUser.slug}}">
                                <h3 class="user-r-name">{{recommendedUser.get_full_name}}</h3>
                            </a>
                          </div>
                            <div class="d-flex justify-content-center">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{recommendedUser.id}}">
                                    <input type="hidden" name="formid" value="2">
                                    <div class="button_cont"><button type="submit" class="example_f" target="_blank" rel="nofollow"><span>Follow User</button></div>
                                </form>
                            </div>
                      </div>
                  </div>
              </div>
        {% endfor %}                  
      </div>
    </div>
  </div>
</div>

{% endblock %}