{% load static %}
{% include "partials/header.html" %}
{% block body %}
<div class="loginPage">
  <div>
    <div class="loginCard">
      <div class="loginText">
        <h1>Login</h1>
        <h3>Find some new books</h3>
      </div>
      <div class="loginForm">
        <form method="POST">
            {% csrf_token %}
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              name="email"
            />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              aria-describedby="emailHelp"
              name="password"
            />
          </div>
          <button class="loginButton">Login</button>
          {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style: none;color: red;">
                * {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
