{% include "partials/header.html" %}
{% block body %}

<div class="row mx-2">
  <div class="col-lg-9">
      <div class="row">
            <div class="col-lg-4">
                <div class="container post-container">
                    <div class="heading-container pt-4">
                        <div>
                            <a class="a-tag-post" href="#">
                                <h3 class="post-book-name">The way of kings</h3>
                            </a>
                        </div>
                        <div>
                            <a class="a-tag-post" href="#">
                            <h5 class="post-book-author">Brandon Sanderson</h5>
                            </a>
                        </div>
                    </div>
                    
                    <div class="post-image-container">
                        <img class="post-image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zcjvxISlQdUqxaRQd1S2KgHaK6%26pid%3DApi&f=1"/>
                    </div>
                    <div class="post-footer">
                        <div>
                            <div class="rateYo" style="margin: auto;padding: 3px;"></div>
                        </div>
                        <div class="add-book-container">
                            <form method="POST">
                                <input type="hidden" name="id" value="bookid">
                                <input type="hidden" name="title" value="bookname">
                                <div class="button_cont"><button type="submit" class="example_f" target="_blank" rel="nofollow"><span>Add Book</button></div>
                            </form>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(".rateYo").rateYo({
                            rating: "book.rating",
                            readOnly: true,
                            starWidth: "18px"
                        });
                    </script>
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container post-container">
                    <div class="heading-container pt-4">
                        <div>
                            <a class="a-tag-post" href="#">
                                <h3 class="post-book-name">The way of kings</h3>
                            </a>
                        </div>
                        <div>
                            <a class="a-tag-post" href="#">
                            <h5 class="post-book-author">Brandon Sanderson</h5>
                            </a>
                        </div>
                    </div>
                    
                    <div class="post-image-container">
                        <img class="post-image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zcjvxISlQdUqxaRQd1S2KgHaK6%26pid%3DApi&f=1"/>
                    </div>
                    <div class="post-footer">
                        <div>
                            <div class="rateYo" style="margin: auto;padding: 3px;"></div>
                        </div>
                        <div class="add-book-container">
                            <form method="POST">
                                <input type="hidden" name="id" value="bookid">
                                <input type="hidden" name="title" value="bookname">
                                <div class="button_cont"><button type="submit" class="example_f" target="_blank" rel="nofollow"><span>Add Book</button></div>
                            </form>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(".rateYo").rateYo({
                            rating: "book.rating",
                            readOnly: true,
                            starWidth: "18px"
                        });
                    </script>
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container post-container">
                    <div class="heading-container pt-4">
                        <div>
                            <a class="a-tag-post" href="#">
                                <h3 class="post-book-name">The way of kings</h3>
                            </a>
                        </div>
                        <div>
                            <a class="a-tag-post" href="#">
                            <h5 class="post-book-author">Brandon Sanderson</h5>
                            </a>
                        </div>
                    </div>
                    
                    <div class="post-image-container">
                        <img class="post-image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zcjvxISlQdUqxaRQd1S2KgHaK6%26pid%3DApi&f=1"/>
                    </div>
                    <div class="post-footer">
                        <div>
                            <div class="rateYo" style="margin: auto;padding: 3px;"></div>
                        </div>
                        <div class="add-book-container">
                            <form method="POST">
                                <input type="hidden" name="id" value="bookid">
                                <input type="hidden" name="title" value="bookname">
                                <div class="button_cont"><button type="submit" class="example_f" target="_blank" rel="nofollow"><span>Add Book</button></div>
                            </form>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(".rateYo").rateYo({
                            rating: "book.rating",
                            readOnly: true,
                            starWidth: "18px"
                        });
                    </script>
                    
                </div>
            </div>
            
    </div>
  </div>
  
  <div class="col-lg-3"> 
    <div class="container">
      <div class="row">
              <div class="container post-container">
                  <div class="heading-container row">
                      <div class="col-lg-4 d-flex align-items-center justify-content-center">
                            <img class="image-user-r" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zcjvxISlQdUqxaRQd1S2KgHaK6%26pid%3DApi&f=1"/>
                      </div>
                      <div class="col-lg-8">
                          <div>
                            <a class="a-tag-post" href="#">
                                <h3 class="user-r-name">Sarthak Maheshwari</h3>
                            </a>
                          </div>
                            <div class="d-flex justify-content-center">
                                <div class="button_cont my-3"><a class="example_f" href="#" target="_blank" rel="nofollow"><span>Follow User</a></div>
                            </div>
                      </div>
                  </div>
              </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}