{% load static %}
{% include "partials/header.html" %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css" rel="stylesheet"/>   
<section class="profile">
    <div>
        <div class="row">
            <div class="col-9">
                <div class="d-flex profile-hero">
                    <img src="https://images.vexels.com/media/users/3/136492/isolated/preview/9405e34df4de152cba0e31c040f5675e-open-book-round-icon-by-vexels.png" alt="display picture" class="display-picture user-display-picture">
                    <div class="user-info">
                        <h1 class="display-4">Sarthak Maheshwari</h1>
                        <h4>Followers: 69</h4>
                        <h4>Following: 420</h4>
                    </div>
                </div>
                <div class="user-posts">
                    <div class="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="container post-container">
                                    <div class="heading-container">
                                        <div>
                                            <a class="a-tag-post" href="#">
                                                <h3 class="post-book-name">Book Name</h3>
                                            </a>
                                        </div>
                                        <div>
                                            <a class="a-tag-post" href="#">
                                            <h5 class="post-book-author">Author Name</h5>
                                            </a>
                                            <!-- {% for day in session_data.temp %}
                                                                        {{day}}
                                                                        {% if not forloop.last %} 
                                                                        ,
                                                                        {% endif %}
                                                                    {% endfor %} -->
                                        </div>
                                    </div>
                                    
                                    <div class="post-image-container">
                                        <img class="post-image" src="http://books.google.com/books/content?id=uHs7gpNKqTEC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/>
                                    </div>
                                    <div class="user-post-footer">
                                        <div style="text-align: left;padding: 0 30px;">
                                            <p class="caption-style-1" id="caption">
                                                Lorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sit amet, consectetur adipiscing 
                                                elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel
                                            </p>
                                            <a onclick="myFunction(this)" id="myBtn" style="cursor: pointer;color:#FFB1B9;">more</a>
                                            <span id="dots" style="cursor: pointer;color:#FFB1B9;"></span>
                                        </div>
                                        <div>
                                            <div class="rateYo" style="margin: auto;padding: 3px;"></div>
                                        </div>
                                        <div class="add-book-container">
                                            <div class="button_cont"><a class="example_f" href="#" target="_blank" rel="nofollow"><span>Add Book</a></div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(".rateYo").rateYo({
                                            rating: "4",
                                            readOnly: true,
                                            starWidth: "18px"
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="container post-container">
                                    <div class="heading-container">
                                        <div>
                                            <a class="a-tag-post" href="#">
                                                <h3 class="post-book-name">Book Name</h3>
                                            </a>
                                        </div>
                                        <div>
                                            <a class="a-tag-post" href="#">
                                            <h5 class="post-book-author">Author Name</h5>
                                            </a>
                                            <!-- {% for day in session_data.temp %}
                                                                        {{day}}
                                                                        {% if not forloop.last %} 
                                                                        ,
                                                                        {% endif %}
                                                                    {% endfor %} -->
                                        </div>
                                    </div>
                                    
                                    <div class="post-image-container">
                                        <img class="post-image" src="http://books.google.com/books/content?id=uHs7gpNKqTEC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/>
                                    </div>
                                    <div class="user-post-footer">
                                        <div style="text-align: left;padding: 0 30px;">
                                            <p class="caption-style-1" id="caption">
                                                Lorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sit amet, consectetur adipiscing 
                                                elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel1
                                            </p>
                                            <a onclick="myFunction(this)" id="myBtn" style="cursor: pointer;color:#FFB1B9;">more</a>
                                            <span id="dots" style="cursor: pointer;color:#FFB1B9;"></span>
                                        </div>
                                        <div>
                                            <div class="rateYo" style="margin: auto;padding: 3px;"></div>
                                        </div>
                                        <div class="add-book-container">
                                            <div class="button_cont"><a class="example_f" href="#" target="_blank" rel="nofollow"><span>Add Book</a></div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(".rateYo").rateYo({
                                            rating: "2.5",
                                            readOnly: true,
                                            starWidth: "18px"
                                        });
                                    </script>
                                </div>
                            </div>
                            <script>
                                function myFunction(element) {
                                    var pElement=$(element).closest(":has(p)").find('p');
                                    console.log(pElement.text())
                                    var dots = $(element).closest(":has(span)").find('span');
                                    var btnText = element;
                                    if (dots.css("display") === "none") {
                                        dots.css("display","inline");
                                        btnText.innerHTML = "more"; 
                                        pElement.addClass("caption-style-1");
                                        pElement.removeClass("caption-style-2");
                                    } else {
                                        dots.css("display","none");
                                        btnText.innerHTML = "less"; 
                                        pElement.addClass("caption-style-2");
                                        pElement.removeClass("caption-style-1");
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 recent__books">
                <h2>Recently Saved Books</h2>
                <div class="recent__books-main">
                    <div class="book d-flex">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsffbookreview.files.wordpress.com%2F2016%2F07%2Fway-of-kings1.jpg&f=1&nofb=1" alt="Book">
                        <div class="recent__books-info">
                            <h3>The way of kings</h3>
                            <h4>Brandon Sanderson</h4>
                        </div>
                    </div>
                </div>
                <div class="recent__books-main">
                    <div class="book d-flex">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsffbookreview.files.wordpress.com%2F2016%2F07%2Fway-of-kings1.jpg&f=1&nofb=1" alt="Book">
                        <div class="recent__books-info">
                            <h3>The way of kings</h3>
                            <h4>Brandon Sanderson</h4>
                        </div>
                    </div>
                </div>
                <div class="recent__books-main">
                    <div class="book d-flex">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsffbookreview.files.wordpress.com%2F2016%2F07%2Fway-of-kings1.jpg&f=1&nofb=1" alt="Book">
                        <div class="recent__books-info">
                            <h3>The way of kings</h3>
                            <h4>Brandon Sanderson</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
