{% load static %}
{% include "partials/header.html" %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css" rel="stylesheet"/>   
<section class="profile">
    <div>
        <div class="row">
            <div class="col-9">
                <div class="d-flex profile-hero">
                    <img src="https://images.vexels.com/media/users/3/136492/isolated/preview/9405e34df4de152cba0e31c040f5675e-open-book-round-icon-by-vexels.png" alt="display picture" class="display-picture user-display-picture">
                    <div class="user-info">
                        <h1 class="display-4">{{name}}</h1>
                        <h4>Followers: {{followersNumber}}</h4>
                        <h4>Following: {{followingNumber}}</h4>
                    </div>
                </div>
                <div class="user-posts">
                    <div class="post">
                        <div class="row">
                            {% for post in dataPosts %}
                            <div class="col-lg-6">
                                <div class="container post-container">
                                    <div class="heading-container">
                                        <div>
                                            <a class="a-tag-post" href="#">
                                                <h3 class="post-book-name">{{post.name}}</h3>
                                            </a>
                                        </div>
                                        <div>
                                            <a class="a-tag-post" href="#">
                                            <h5 class="post-book-author">{% for author in post.authors %}
                                                {{author}}
                                                {% if not forloop.last %} 
                                                ,
                                                {% endif %}
                                            {% endfor %}</h5>
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="post-image-container">
                                        <img class="post-image" src="{{post.image}}"/>
                                    </div>
                                    <div class="user-post-footer">post
                                        <div style="text-align: left;padding: 0 30px;">
                                            <p class="caption-style-1" id="caption">
                                                {{post.caption}}
                                            </p>
                                            <a onclick="myFunction(this)" id="myBtn" style="cursor: pointer;color:#FFB1B9;">more</a>
                                            <span id="dots" style="cursor: pointer;color:#FFB1B9;"></span>
                                        </div>
                                        <div>
                                            <div class="rateYo" style="margin: auto;padding: 3px;"></div>
                                        </div>
                                        <div class="add-book-container">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{post.bookid}}">
                                                <input type="hidden" name="title" value="{{post.name}}">
                                                <div class="button_cont"><button type="submit" class="example_f" target="_blank" rel="nofollow"><span>Add Book</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(".rateYo").rateYo({
                                            rating: "{{post.rating}}",
                                            readOnly: true,
                                            starWidth: "18px"
                                        });
                                    </script>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <script>
                                function myFunction(element) {
                                    var pElement=$(element).closest(":has(p)").find('p');
                                    console.log(pElement.text())
                                    var dots = $(element).closest(":has(span)").find('span');
                                    var btnText = element;
                                    if (dots.css("display") === "none") {
                                        dots.css("display","inline");
                                        btnText.innerHTML = "more"; 
                                        pElement.addClass("caption-style-1");
                                        pElement.removeClass("caption-style-2");
                                    } else {
                                        dots.css("display","none");
                                        btnText.innerHTML = "less"; 
                                        pElement.addClass("caption-style-2");
                                        pElement.removeClass("caption-style-1");
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 recent__books">
                <h2>Recently Saved Books</h2>
                {% for book in dataBook %}
                <div class="recent__books-main">
                    <div class="book d-flex">
                        <img src="{{book.image}}" alt="Book">
                        <div class="recent__books-info">
                            <h3>{{book.name}}</h3>
                            <h4>
                            {% for author in book.authors %}
                                {{author}}
                                {% if not forloop.last %} 
                                ,
                                {% endif %}
                            {% endfor %}
                            </h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
