{% include "partials/header.html" %}
{% block body %}
<style>
.example_f span:after {
  content: '...';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }
</style>
    <div class="container search-box">
        <div class="form-group">
            <input
              id="inp_text"
              type="text"
              class="form-control"
              aria-describedby="emailHelp"
              name="email"
              placeholder="Search User Here"
            />
            <div class="user-recom-footer">
                <div class="button_cont" style="text-align: right;"><a class="example_f" href="#" target="_blank" rel="nofollow"><span>Search</a></div>
            </div>
          </div>
       </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="container post-container">
                    <div class="heading-container row">
                        <div class="col-lg-2">
                            <img class="image-user-r" src="http://books.google.com/books/content?id=uHs7gpNKqTEC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/>
                        </div>
                        <div class="col-lg-10">
                            <a class="a-tag-post" href="#">
                                <h3 class="user-r-name">Garvit Chittora</h3>
                            </a>
                            <div class="user-recom-footer">
                                <div class="button_cont" style="text-align: right;"><a class="example_f" href="#" target="_blank" rel="nofollow"><span>Follow User</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}